In [2]:
import glob
import pandas as pd
import math

# Criando Dataframe

In [3]:
path = '../csv/original/'
filenames = glob.glob(path + "/*.csv")

list_ = []
frame = pd.DataFrame()

for filename in filenames:
    df = pd.read_csv(filename, index_col = False)
    list_.append(df)

frame = pd.concat(list_)
frame.columns

Index(['Data Emissão', 'OB Origem', 'NE Origem', 'No Processo', 'Credor',
       'Nome Credor', 'Finalidade', 'Fonte de Recurso', 'Natureza Detalhada',
       'Nome Natureza Detalhada', 'UG Executora', 'Nome UG Executora',
       'Mês Emissão', 'Pago'],
      dtype='object')

In [4]:
frame.head()

,Data Emissão,OB Origem,NE Origem,No Processo,Credor,Nome Credor,Finalidade,Fonte de Recurso,Natureza Detalhada,Nome Natureza Detalhada,UG Executora,Nome UG Executora,Mês Emissão,Pago
0,01/09/2017,2017OB805678,2016NE000034,23106.098701/2017-44,032.022.191-11,MARIANA FIGUEIREDO\nMIRANDA,"PAGAMENTO DE FOLHA 8/2017-746, REFERENTE A AUX...",100000000,3390.20.01,AUXILIO A PESQUISADORES,154019,CENTRO DE APOIO AO\nDESENVOLV. TECNOLOGICO-\nCDT,9,"3.250,00"
1,01/09/2017,2017OB805680,2014NE000150,23106.013536/2014-16,991.772.341-20,MARIANA COSTA BERNARDES\nMATIAS,"PAGAMENTO DE FOLHA 8/2017-776, REFERENTE A PRE...",6151000000,3390.36.06,SERVICOS TECNICOS\nPROFISSIONAIS,154019,CENTRO DE APOIO AO\nDESENVOLV. TECNOLOGICO-\nCDT,9,"6.227,52"
2,01/09/2017,2017OB805681,2015NE000101,23106.016174/2014-15,694.622.751-49,PEDRO PAULO MURCE\nMENESES,PAGAMENTO DA FOLHA 08/2017-773 // PRESTACAO DE...,100049101,3390.36.06,SERVICOS TECNICOS\nPROFISSIONAIS,154019,CENTRO DE APOIO AO\nDESENVOLV. TECNOLOGICO-\nCDT,9,"2.003,34"
3,01/09/2017,2017OB805682,2015NE000101,23106.016174/2014-15,602.122.331-49,ANDRE LUIZ MARQUES\nSERRANO,PAGAMENTO DA FOLHA 08/2017-774 // PRESTACAO DE...,100049101,3390.36.06,SERVICOS TECNICOS\nPROFISSIONAIS,154019,CENTRO DE APOIO AO\nDESENVOLV. TECNOLOGICO-\nCDT,9,"6.155,74"
4,01/09/2017,2017OB805683,2017NE000069,23106.106542/2017-69,020.971.891-99,MARCO ANTONIO ALMEIDA,"PAGAMENTO DE FOLHA 8/2017-770, REFERENTE A AUX...",6151000000,3390.20.01,AUXILIO A PESQUISADORES,154019,CENTRO DE APOIO AO\nDESENVOLV. TECNOLOGICO-\nCDT,9,"1.800,00"

# Removendo linhas em branco

In [5]:
frame.dtypes

Data Emissão               object
OB Origem                  object
NE Origem                  object
No Processo                object
Credor                     object
Nome Credor                object
Finalidade                 object
Fonte de Recurso           object
Natureza Detalhada         object
Nome Natureza Detalhada    object
UG Executora               object
Nome UG Executora          object
Mês Emissão                object
Pago                       object
dtype: object

In [6]:
frame.shape

(103465, 14)

In [7]:
df = pd.DataFrame
df = frame.dropna()

In [8]:
df.shape

(83431, 14)

In [9]:
df_clean = df.drop('No Processo', axis=1)
df_clean = df_clean.drop('Finalidade', axis=1)

In [10]:
df_clean.head()

,Data Emissão,OB Origem,NE Origem,Credor,Nome Credor,Fonte de Recurso,Natureza Detalhada,Nome Natureza Detalhada,UG Executora,Nome UG Executora,Mês Emissão,Pago
0,01/09/2017,2017OB805678,2016NE000034,032.022.191-11,MARIANA FIGUEIREDO\nMIRANDA,100000000,3390.20.01,AUXILIO A PESQUISADORES,154019,CENTRO DE APOIO AO\nDESENVOLV. TECNOLOGICO-\nCDT,9,"3.250,00"
1,01/09/2017,2017OB805680,2014NE000150,991.772.341-20,MARIANA COSTA BERNARDES\nMATIAS,6151000000,3390.36.06,SERVICOS TECNICOS\nPROFISSIONAIS,154019,CENTRO DE APOIO AO\nDESENVOLV. TECNOLOGICO-\nCDT,9,"6.227,52"
2,01/09/2017,2017OB805681,2015NE000101,694.622.751-49,PEDRO PAULO MURCE\nMENESES,100049101,3390.36.06,SERVICOS TECNICOS\nPROFISSIONAIS,154019,CENTRO DE APOIO AO\nDESENVOLV. TECNOLOGICO-\nCDT,9,"2.003,34"
3,01/09/2017,2017OB805682,2015NE000101,602.122.331-49,ANDRE LUIZ MARQUES\nSERRANO,100049101,3390.36.06,SERVICOS TECNICOS\nPROFISSIONAIS,154019,CENTRO DE APOIO AO\nDESENVOLV. TECNOLOGICO-\nCDT,9,"6.155,74"
4,01/09/2017,2017OB805683,2017NE000069,020.971.891-99,MARCO ANTONIO ALMEIDA,6151000000,3390.20.01,AUXILIO A PESQUISADORES,154019,CENTRO DE APOIO AO\nDESENVOLV. TECNOLOGICO-\nCDT,9,"1.800,00"

# Padronizando colunas

In [11]:
df_clean['Mês Emissão'] = df_clean['Mês Emissão'].astype(int)

In [12]:
df_clean.dtypes

Data Emissão               object
OB Origem                  object
NE Origem                  object
Credor                     object
Nome Credor                object
Fonte de Recurso           object
Natureza Detalhada         object
Nome Natureza Detalhada    object
UG Executora               object
Nome UG Executora          object
Mês Emissão                 int64
Pago                       object
dtype: object

In [13]:
df_clean['Pago'] = df_clean['Pago'].str.strip()
df_clean['Pago'] = df_clean['Pago'].str.replace(' ','')
df_clean['Pago'] = df_clean['Pago'].str.replace('(','')
df_clean['Pago'] = df_clean['Pago'].str.replace(')','')

In [14]:
df_clean.shape

(83431, 12)

In [15]:
df_clean['Nome Credor'] = df_clean['Nome Credor'].str.replace('\n',' ')
df_clean['Nome Credor'] = df_clean['Nome Credor'].str.replace('\r',' ')
df_clean['Nome UG Executora'] = df_clean['Nome UG Executora'].str.replace('\n',' ')
df_clean['Nome UG Executora'] = df_clean['Nome UG Executora'].str.replace('\r',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('\n',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('\r',' ')

In [16]:
df_clean.head()

,Data Emissão,OB Origem,NE Origem,Credor,Nome Credor,Fonte de Recurso,Natureza Detalhada,Nome Natureza Detalhada,UG Executora,Nome UG Executora,Mês Emissão,Pago
0,01/09/2017,2017OB805678,2016NE000034,032.022.191-11,MARIANA FIGUEIREDO MIRANDA,100000000,3390.20.01,AUXILIO A PESQUISADORES,154019,CENTRO DE APOIO AO DESENVOLV. TECNOLOGICO- CDT,9,"3.250,00"
1,01/09/2017,2017OB805680,2014NE000150,991.772.341-20,MARIANA COSTA BERNARDES MATIAS,6151000000,3390.36.06,SERVICOS TECNICOS PROFISSIONAIS,154019,CENTRO DE APOIO AO DESENVOLV. TECNOLOGICO- CDT,9,"6.227,52"
2,01/09/2017,2017OB805681,2015NE000101,694.622.751-49,PEDRO PAULO MURCE MENESES,100049101,3390.36.06,SERVICOS TECNICOS PROFISSIONAIS,154019,CENTRO DE APOIO AO DESENVOLV. TECNOLOGICO- CDT,9,"2.003,34"
3,01/09/2017,2017OB805682,2015NE000101,602.122.331-49,ANDRE LUIZ MARQUES SERRANO,100049101,3390.36.06,SERVICOS TECNICOS PROFISSIONAIS,154019,CENTRO DE APOIO AO DESENVOLV. TECNOLOGICO- CDT,9,"6.155,74"
4,01/09/2017,2017OB805683,2017NE000069,020.971.891-99,MARCO ANTONIO ALMEIDA,6151000000,3390.20.01,AUXILIO A PESQUISADORES,154019,CENTRO DE APOIO AO DESENVOLV. TECNOLOGICO- CDT,9,"1.800,00"

In [18]:
df_clean.to_csv('../csv/parsed/2017_v1.0.csv', index=False)