In [1]:
%pylab inline
import glob
import pandas as pd
import math
import dateutil

Populating the interactive namespace from numpy and matplotlib

In [2]:
path = '../csv/original/'
filenames = glob.glob(path + "/*.csv")

list_ = []
frame = pd.DataFrame()

for filename in filenames:
    df = pd.read_csv(filename, index_col = False)
    list_.append(df)

frame = pd.concat(list_)
frame.columns

Index(['Data Emissão', 'OB Origem', 'NE Origem', 'No Processo', 'Credor',
       'Nome Credor', 'Finalidade', 'Fonte de Recurso', 'Natureza Detalhada',
       'Nome Natureza Detalhada', 'UG Executora', 'Nome UG Executora',
       'Mês Emissão', 'Pago'],
      dtype='object')

In [3]:
df_clean = frame

In [4]:
df_clean['Pago'] = df_clean['Pago'].str.strip()
df_clean['Pago'] = df_clean['Pago'].str.replace(' ','')
df_clean['Pago'] = df_clean['Pago'].str.replace('(','')
df_clean['Pago'] = df_clean['Pago'].str.replace(')','')
df_clean['Pago'] = df_clean['Pago'].str.replace('.','')
df_clean['Pago'] = df_clean['Pago'].str.replace(',','.')
df_clean['Nome Credor'] = df_clean['Nome Credor'].str.replace('\n',' ')
df_clean['Nome Credor'] = df_clean['Nome Credor'].str.replace('\r',' ')
df_clean['Nome UG Executora'] = df_clean['Nome UG Executora'].str.replace('\n',' ')
df_clean['Nome UG Executora'] = df_clean['Nome UG Executora'].str.replace('\r',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('\n',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('\r',' ')
df_clean['Finalidade'] = df_clean['Finalidade'].str.replace('\n',' ')
df_clean['Finalidade'] = df_clean['Finalidade'].str.replace('//','')
df_clean['Finalidade'] = df_clean['Finalidade'].str.replace('\r',' ')

In [5]:
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('.',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('-',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace(',',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('/',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('  ',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('   ',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('    ',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('T I','TI')

In [6]:
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('APAR EQUIP UTENS MED O','APARELHOS EQUIPAMENTOS UTENSILIOS')

SyntaxError: invalid syntax (<ipython-input-6-5649df7eff53>, line 2)

In [ ]:
df_clean.head()

In [ ]:
df_clean.shape

In [ ]:
df_clean = df_clean.dropna()

In [ ]:
df_clean.shape

In [ ]:
df_clean['Mês Emissão'] = df_clean['Mês Emissão'].astype(int)
df_clean['Pago'] = df_clean['Pago'].astype(float)

In [ ]:
df_clean['Mês Emissão'].value_counts()

In [ ]:
df_clean.columns

In [ ]:
table_gastos = df_clean.groupby('Nome Natureza Detalhada')['Pago'].sum()
frame_gastos = table_gastos.to_frame(name='test')

pd.options.display.float_format = '${:,.2f}'.format

table_gastos.describe

In [ ]:
table_gastos.sort_values(ascending=False)

In [ ]:
table_gastos.to_csv('../csv/parsed/nd_sum.csv')