In [1]:
%pylab inline
import glob
import pandas as pd
import math
import dateutil

Populating the interactive namespace from numpy and matplotlib

In [2]:
path = '../csv/original/'
filenames = glob.glob(path + "/*.csv")

list_ = []
frame = pd.DataFrame()

# Para cada um dos csv
for filename in filenames:
    # Leia o CSV
    df = pd.read_csv(filename, index_col = False)
    # Coloque na lista de CSV
    list_.append(df)

frame = pd.concat(list_)
frame.columns

Index([u'Data Emissão', u'OB Origem', u'NE Origem', u'No Processo', u'Credor',
       u'Nome Credor', u'Finalidade', u'Fonte de Recurso',
       u'Natureza Detalhada', u'Nome Natureza Detalhada', u'UG Executora',
       u'Nome UG Executora', u'Mês Emissão', u'Pago'],
      dtype='object')

In [3]:
df_clean = frame

In [4]:
# Limpeza do dataframe
df_clean['Pago'] = df_clean['Pago'].str.strip()
df_clean['Pago'] = df_clean['Pago'].str.replace(' ','')
df_clean['Pago'] = df_clean['Pago'].str.replace('(','')
df_clean['Pago'] = df_clean['Pago'].str.replace(')','')
df_clean['Pago'] = df_clean['Pago'].str.replace('.','')
df_clean['Pago'] = df_clean['Pago'].str.replace(',','.')

df_clean['Nome Credor'] = df_clean['Nome Credor'].str.replace('\n',' ')
df_clean['Nome Credor'] = df_clean['Nome Credor'].str.replace('\r',' ')

df_clean['Nome UG Executora'] = df_clean['Nome UG Executora'].str.replace('\n',' ')
df_clean['Nome UG Executora'] = df_clean['Nome UG Executora'].str.replace('\r',' ')

df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('\n',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('\r',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('.',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('-',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace(',',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('/',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('  ',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('   ',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('    ',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('T I','TI')

df_clean['Finalidade'] = df_clean['Finalidade'].str.replace('\n',' ')
df_clean['Finalidade'] = df_clean['Finalidade'].str.replace('//','')
df_clean['Finalidade'] = df_clean['Finalidade'].str.replace('\r',' ')

In [5]:
df_clean.shape

(103465, 14)

In [6]:
# Removendo o que? Não estamos perdendo linhas importântes?
df_clean = df_clean.dropna()

# Tem como converter esses 'NaN' para 0 ?

# Como usar o astype(int) ou astype(float) sem dropar esses valores acima?

In [7]:
df_clean.shape

# O que tinha nas 20 mil linhas que foram dropadas?

(83431, 14)

### EXEMPLO DO PROBLEMA QUE É DROPAR AS LINHAS QUE TEM NaN

In [8]:
# Exemplo

exemplo = pd.DataFrame({"Descrição": ['Serviços', 'Reformas', 'Gasolina'],
"Setor": [np.nan, np.nan, 'Transporte'], "Valor Gasto": [1000, 2000, 3000]})
exemplo

  Descrição       Setor  Valor Gasto
0  Serviços         NaN         1000
1  Reformas         NaN         2000
2  Gasolina  Transporte         3000

In [9]:
# Se eu dropar as linhas que tiver NaN perco 2 linhas com valor de gastos importantes

exemplo = exemplo.dropna()
exemplo

  Descrição       Setor  Valor Gasto
2  Gasolina  Transporte         3000

### Fim do Exemplo

In [10]:
# Como tratar esse erro?

# Convertendo uma string para inteiro
df_clean['Mês Emissão'] = df_clean['Mês Emissão'].astype(int)

# Convertendo uma string para float
df_clean['Pago'] = df_clean['Pago'].astype(float)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [11]:
# Quantidade de lançamentos de gastos de cada mês
df_clean['Mês Emissão'].value_counts()

11    20188
5      7819
4      6825
2      6736
3      6582
7      6548
9      5871
8      5609
10     5510
12     4569
6      4316
1      2858
Name: Mês Emissão, dtype: int64

In [12]:
# Agrupando e somando as linhas com descrição iguais
table_gastos = df_clean.groupby('Nome Natureza Detalhada')['Pago'].sum()

# Configurando modo de exibição de floats
pd.options.display.float_format = '${:,.2f}'.format

In [13]:
# Convertendo Series para Dataframe
df_gastos = pd.DataFrame(table_gastos).reset_index()

# Ordenando em ordem alfabética para facilitar visualização de descrições que podem ser agrupadas
df_gastos = df_gastos.sort_values(by='Nome Natureza Detalhada')


df_gastos.head()
# Repare que algumas linhas da natureza detalhada possuem descrições diferêntes,
# porém deveriam está agrupadas juntas (ex.: 13 sal)

      Nome Natureza Detalhada           Pago
0                  13 SALARIO $62,074,505.06
1   13 SALARIO  PENSOES CIVIS  $4,598,805.52
2   13 SALARIO  PESSOAL CIVIL $26,220,733.49
3        ABONO DE PERMANENCIA  $9,066,114.39
4  ADICIONAL DE INSALUBRIDADE  $7,878,905.06

In [14]:
# Criando uma Series com a coluna "Nome Natureza Detalhada"
names = df_gastos['Nome Natureza Detalhada']

# Função para achar prefixo em comum das frases e substituir na original
# ex.: 13 salario pessoal civil -> 13 salario
def find_prefix(x):
    for name in names:
        if len(name) >= len(x):
            continue
        if name == x[:len(name)]:
            return name
    return x

# Aplicando a função find_prefix para todos elementos da coluna
df_gastos['Nome Natureza Detalhada'] = df_gastos['Nome Natureza Detalhada'].apply(find_prefix)

# Resultado
df_gastos.head()

      Nome Natureza Detalhada           Pago
0                  13 SALARIO $62,074,505.06
1                  13 SALARIO  $4,598,805.52
2                  13 SALARIO $26,220,733.49
3        ABONO DE PERMANENCIA  $9,066,114.39
4  ADICIONAL DE INSALUBRIDADE  $7,878,905.06

In [15]:
# Esta função aplica o conceito da Distância Levenshtein em todos os elementos
# e muda a descrição cuja a Distância Levenshtein seja menor ou igual a 3
from nltk.metrics import edit_distance
names = df_gastos['Nome Natureza Detalhada']

def find_similar(x):
    for name in names:
        # Esta função manipula as duas string do parâmetro e calcula a quantidade de operações para
        # transformar name em x
        if edit_distance(name, x) <= 3:
            return name
    return x

df_gastos['Nome Natureza Detalhada'] = df_gastos['Nome Natureza Detalhada'].apply(find_similar)
df_gastos.head()

      Nome Natureza Detalhada           Pago
0                  13 SALARIO $62,074,505.06
1                  13 SALARIO  $4,598,805.52
2                  13 SALARIO $26,220,733.49
3        ABONO DE PERMANENCIA  $9,066,114.39
4  ADICIONAL DE INSALUBRIDADE  $7,878,905.06

###Conceito da Distância Levenshtein: Quantidade de operações necessárias para transformar uma string em outra

ex.: Quantas operações é necessárias para transformar oi em eae

--> oi         --> ei                   --> ea -->                 eae
//  ^ original     ^ mudar 'o' por 'e'       ^ mudar 'i' por 'a'     ^ adicionar o 'e'
//                 1ª operação                  2ª operação            3ª operação

Logo a descrição 'oi' irá ser trocada por 'eae' e serão agrupadas na mesma categoria

In [16]:
# Agrupando e somando as linhas com descrição iguais
df_gastos = df_gastos.reset_index()
df_gastos = df_gastos.groupby('Nome Natureza Detalhada')['Pago'].sum()
df_gastos

Nome Natureza Detalhada
13 SALARIO                                       $92,894,044.07
ABONO DE PERMANENCIA                              $9,066,114.39
ADICIONAL DE INSALUBRIDADE                        $7,899,442.01
ADICIONAL DE PERICULOSIDADE                         $769,682.33
ADICIONAL NOTURNO                                   $979,674.77
ADICIONAL POR PLANTAO HOSPITALAR                  $2,051,024.21
ADICIONAL POR TEMPO DE SERVICO PESSOAL CIVIL     $14,524,620.76
AJUDA DE CUSTO  PESSOAL CIVIL                       $112,979.21
ALIMENTOS PARA ANIMAIS                              $192,613.49
ANIMAIS PARA PESQUISA E ABATE                         $8,770.00
APAR EQUIP UTENS MED O DONT LABOR HOSPIT          $1,931,637.23
APARELHOS DE MEDICAO E ORIENTACAO                    $41,932.48
APARELHOS E EQUIPAMENTOS DE COMUNICACAO             $153,569.15
APARELHOS E UTENSILIOS DOMESTICOS                    $56,764.53
APOIO ADMINISTRATIVO  TECNICO E OPERACIONAL      $35,841,574.73
APOSENT ORIGINARIA DE SUBSIDIOS  PESSOAL CIV      $1,661,701.15
APOSENTADORIAS  RESERVA REMUNERADA E REFORMAS       $903,041.01
AQUISICAO DE SOFTWARE                               $290,721.33
ARMAZENAGEM                                         $101,805.75
ASSESSORIA E CONSULTORI TECNICA OU JURIDICA             $685.16
ASSINATURAS DE PERIODICOS E ANUIDADES               $444,428.88
AUXILIO A PESQUISADORES                          $25,259,956.14
AUXILIO AAS ATIVIDADES AUXILIARES DE PESQUI          $44,250.00
AUXILIO ALIMENTACAO                              $33,567,054.23
AUXILIO BOLSA A PESQUISADORES                        $74,000.00
AUXILIO CRECHE                                    $4,013,765.98
AUXILIO FINANCEIRO A ESTUDANTES                      $30,000.00
AUXILIO FINANCEIRO A PESQUISADORES                   $64,000.00
AUXILIO FUNERAL ATIVO CIVI                          $256,845.98
AUXILIO NATALIDADE ATIVO CIVIL                       $84,880.48
                                                      ...
SERVICO DE SELECAO E TREINAMENTO                  $5,336,563.77
SERVICOS BANCARIOS                                  $108,312.21
SERVICOS DE AGUA E ESGOTO                         $9,481,020.54
SERVICOS DE ANALISES E PESQUISAS CIENTIFICAS     $11,302,344.29
SERVICOS DE APOIO AO ENSINO                       $9,557,474.00
SERVICOS DE AUDIO  VIDEO E FOTO                      $26,385.00
SERVICOS DE COMUNICACA EM GERAL                     $176,124.60
SERVICOS DE COPA E COZINHA                          $102,043.95
SERVICOS DE COPIAS E REPRODUCAO DE DOCUMENTOS       $739,208.40
SERVICOS DE ENERGIA ELETRICA                         $41,915.16
SERVICOS DE PRODUCAO INDUSTRIAL                      $64,561.43
SERVICOS DE PUBLICIDADE DE UTILIDADE PUBLICA          $6,942.70
SERVICOS DE PUBLICIDADE INSTITUCIONAL               $198,848.41
SERVICOS DE PUBLICIDADE LEGAL                           $103.02
SERVICOS DE SOCORRO E SALVAMENTO                      $5,307.84
SERVICOS DE TECNOLOGIA DA INFORMACAO                $168,676.09
SERVICOS DE TELECOMUNICACOES                        $715,373.15
SERVICOS EXTRAORDINARIO                              $42,774.22
SERVICOS GRAFICOS E EDITORIAIS                    $1,670,033.96
SERVICOS JUDICIARIOS                                    $157.52
SERVICOS TECNICOS PROFISSIONAIS                   $6,942,706.07
SUPORTE DE INFRAESTRUTURA DE TI                   $3,224,709.17
TAXAS                                                $24,826.04
UNIFORMES TECIDOS E AVIAMENTOS                       $14,994.30
VANTAGENS PERM SENT JUD TRANS JU LGADO  CIVIL       $323,390.40
VANTAGENS PERMANENTE SENT TRANSIT JULG CIVIL        $287,744.28
VEICULOS DIVERSOS                                     $5,111.50
VENCIMENTOS E SALARIOS                          $175,262,359.61
VENCIMENTOS E VANTAGEN FIXAS  PESSOAL CIVIL       $3,637,930.58
VIGILANCIA OSTENSIVA                             $19,201,399.70
Name: Pago, Length: 195, dtype: float64

In [17]:
# Salvando o resultado em um csv
df_gastos.to_csv('../csv/parsed/Natureza_Detalhada_X_Pago.csv')