In [1]:
%pylab inline
import glob
import pandas as pd
import math
import dateutil

Populating the interactive namespace from numpy and matplotlib

In [2]:
path = '../csv/original/'
filenames = glob.glob(path + "/*.csv")

list_ = []
frame = pd.DataFrame()

# Para cada um dos csv
for filename in filenames:
    # Leia o CSV
    df = pd.read_csv(filename, index_col = False)
    # Coloque na lista de CSV
    list_.append(df)

frame = pd.concat(list_)
frame.columns

Index([u'Data Emissão', u'OB Origem', u'NE Origem', u'No Processo', u'Credor',
       u'Nome Credor', u'Finalidade', u'Fonte de Recurso',
       u'Natureza Detalhada', u'Nome Natureza Detalhada', u'UG Executora',
       u'Nome UG Executora', u'Mês Emissão', u'Pago'],
      dtype='object')

In [3]:
df_clean = frame

In [4]:
# Limpeza do dataframe
df_clean['Pago'] = df_clean['Pago'].str.strip()
df_clean['Pago'] = df_clean['Pago'].str.replace(' ','')
df_clean['Pago'] = df_clean['Pago'].str.replace('(','')
df_clean['Pago'] = df_clean['Pago'].str.replace(')','')
df_clean['Pago'] = df_clean['Pago'].str.replace('.','')
df_clean['Pago'] = df_clean['Pago'].str.replace(',','.')

'''
df_clean['Nome Credor'] = df_clean['Nome Credor'].str.replace('\n',' ')
df_clean['Nome Credor'] = df_clean['Nome Credor'].str.replace('\r',' ')

df_clean['Nome UG Executora'] = df_clean['Nome UG Executora'].str.replace('\n',' ')
df_clean['Nome UG Executora'] = df_clean['Nome UG Executora'].str.replace('\r',' ')

df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('\n',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('\r',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('.',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('-',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace(',',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('/',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('  ',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('   ',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('    ',' ')
df_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('T I','TI')

df_clean['Finalidade'] = df_clean['Finalidade'].str.replace('\n',' ')
df_clean['Finalidade'] = df_clean['Finalidade'].str.replace('//','')
df_clean['Finalidade'] = df_clean['Finalidade'].str.replace('\r',' ')
'''

"\ndf_clean['Nome Credor'] = df_clean['Nome Credor'].str.replace('\n',' ')\ndf_clean['Nome Credor'] = df_clean['Nome Credor'].str.replace('\r',' ')\n\ndf_clean['Nome UG Executora'] = df_clean['Nome UG Executora'].str.replace('\n',' ')\ndf_clean['Nome UG Executora'] = df_clean['Nome UG Executora'].str.replace('\r',' ')\n\ndf_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('\n',' ')\ndf_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('\r',' ')\ndf_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('.',' ')\ndf_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('-',' ')\ndf_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace(',',' ')\ndf_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('/',' ')\ndf_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('  ',' ')\ndf_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('   ',' ')\ndf_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('    ',' ')\ndf_clean['Nome Natureza Detalhada'] = df_clean['Nome Natureza Detalhada'].str.replace('T I','TI')\n\ndf_clean['Finalidade'] = df_clean['Finalidade'].str.replace('\n',' ')\ndf_clean['Finalidade'] = df_clean['Finalidade'].str.replace('//','')\ndf_clean['Finalidade'] = df_clean['Finalidade'].str.replace('\r',' ')\n"

In [5]:
df_clean.shape

(103465, 14)

In [6]:
# Removendo o que? Não estamos perdendo linhas importântes?
df_clean = df_clean.dropna()

# Tem como converter esses 'NaN' para 0 ?

# Como usar o astype(int) ou astype(float) sem dropar esses valores acima?

In [7]:
df_clean.shape

# O que tinha nas 20 mil linhas que foram dropadas?

(83431, 14)

## Como remover os NaN sem perder informação?

In [8]:
# df_clean = df_clean.fillna(0, inplace=False)
# df_clean

In [9]:
# df_clean['Mês Emissão'].astype(int)

## FIM

In [10]:
# Como tratar esse erro?

# Convertendo uma string para inteiro
df_clean['Mês Emissão'] = df_clean['Mês Emissão'].astype(int)

# Convertendo uma string para float
df_clean['Pago'] = df_clean['Pago'].astype(float)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [11]:
# Quantidade de lançamentos de gastos de cada mês
df_clean['Mês Emissão'].value_counts()

11    20188
5      7819
4      6825
2      6736
3      6582
7      6548
9      5871
8      5609
10     5510
12     4569
6      4316
1      2858
Name: Mês Emissão, dtype: int64

In [12]:
# Agrupando e somando as linhas com descrição iguais
table_gastos = df_clean.groupby('Mês Emissão')['Pago'].sum()

# Configurando modo de exibição de floats
pd.options.display.float_format = '${:,.2f}'.format

In [13]:
table_gastos

Mês Emissão
1     $88,864,705.48
2     $98,132,931.01
3    $104,903,381.02
4     $98,383,238.33
5    $111,949,066.14
6    $153,031,347.30
7    $100,315,249.97
8    $114,933,603.91
9    $104,623,070.82
10    $94,254,725.83
11   $144,050,153.08
12   $146,383,067.68
Name: Pago, dtype: float64

In [14]:
# Convertendo Series para Dataframe
df_gastos = pd.DataFrame(table_gastos).reset_index()

# Ordenando em ordem alfabética para facilitar visualização de descrições que podem ser agrupadas
df_gastos = df_gastos.sort_values(by='Mês Emissão')


df_gastos.head()
# Repare que algumas linhas da natureza detalhada possuem descrições diferêntes,
# porém deveriam está agrupadas juntas (ex.: 13 sal)

   Mês Emissão            Pago
0            1  $88,864,705.48
1            2  $98,132,931.01
2            3 $104,903,381.02
3            4  $98,383,238.33
4            5 $111,949,066.14

In [15]:
df_gastos = df_gastos.reset_index()
df_gastos = df_gastos.groupby('Mês Emissão')['Pago'].sum()
df_gastos

Mês Emissão
1     $88,864,705.48
2     $98,132,931.01
3    $104,903,381.02
4     $98,383,238.33
5    $111,949,066.14
6    $153,031,347.30
7    $100,315,249.97
8    $114,933,603.91
9    $104,623,070.82
10    $94,254,725.83
11   $144,050,153.08
12   $146,383,067.68
Name: Pago, dtype: float64

In [16]:
# Salvando o resultado em um csv
df_gastos.to_csv('../csv/parsed/Mês_X_Pago.csv')